body{
    background-color: rgb(36, 35, 35);
    padding: 0px;
    margin: 0px;
}

#perfil{
    border-radius: 100px;
    padding-top: 5px;
    padding-left: 5px;
    height: 200px;
    width: 200px;
}

.circulo{
    height: 210px;
    width: 210px;
    background-color: rgb(0, 140, 255);
    border-radius: 150px;
    margin: auto;
    margin-top: 20px;
}

.cima{
    height: 37vh;
}

.main{
    height: 40vh;
    padding: 0;
    margin: 10px;
}

.main h1, h3{
    color: rgb(0, 140, 255);
    margin-top: -4px;
}

.main p{
    color: white;
}

.navbar{
    background-color: gray;
    display: flex;
    height: 40px;
}

.navbar a{
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.footer{
    margin-left: 50px;
}

.footer h3{
    margin-left: 600px;
}

#linkedin{
    height: 40px;
    width: 40px;
    margin-left: 600px;
    margin-bottom: 3px;
}

#github{
    height: 47px;
    width: 47px;
}

#instagram{
    height: 55px;
    width: 55px;
    margin-bottom: -3px;
    margin-left: -6px;
}


/* Projetos */


#titulo{
    color: rgb(0, 140, 255);
    margin-left: 43%;
}

#subtitulo{
    margin-left: 44%;
    color: white;
}

.main2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.quadrado{
    height: 300px;
    width: 300px;
    background-color: rgb(0, 140, 255);
    margin: 8px;
    border-radius: 5px;
}

.quadrado2{
    height: 300px;
    width: 300px;
    background-color: rgb(0, 140, 255);
    margin: 8px;
    border-radius: 5px;
}

#animase{
    height: 290px;
    width: 290px;
    margin-left: 5px;
    margin-top: 5px;
}

#codigo{
    height: 290px;
    width: 290px;
    margin-left: 5px;
    margin-top: 5px;
}

#linkanimase{
    text-decoration: none;
    color: rgb(0, 140, 255);
    margin-left: 45%;
}

/* contatos */

#titulo2{
    color: rgb(0, 140, 255);
    margin-left: 46%;
}

.main3{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main3 p{
    color: white;
}

.email{
    margin-right: 100px;
}

#email2{
    width: 500px;
}

#botao{
    background-color: rgb(0, 140, 255);
    color: white;
    border-radius: 5px;
    height: 30px;
    margin-right: 548px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}